<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Form</title>
</head>

<body>
    <h1>Send a message to a friend !</h1>

    <form method="POST" action="/new">
        <label for="user"></label>
        <input type="text" id="messageUser" placeholder="Enter your name" name="messageUser" required>
        <textarea name="messageText" id="message" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>
    <a href="/">Back to Home Page</a>
</body>

</html>